.recipe-tile {
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: inherit;
  display: grid;
  grid-template-columns: 8rem 1fr;
  height: 8rem;
  overflow: hidden;
  padding: 0;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

.recipe-tile-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: .5rem .5rem .5rem 1rem;
  width: 100%;

  &--title-only {
    justify-content: center;

    h3 {
      margin-block: 0;
    }
  }

  h3 {
    margin-block: 0 .75rem;
  }

  dl {
    display: grid;
    gap: .25rem .75rem;
    grid-template-columns: auto 1fr;
    margin-block: 0;
  }

  dt {
    color: rgb(55 55 55);
  }

  dd {
    font-weight: 600;
    margin: 0;
  }
}
